$def with (playlist, nowplaying)

$for s in playlist:
    $if (s[0] + 1) == nowplaying:
        <li id="song$(s[0])" class="currentsong" onDblClick="playSong($(s[0]));">
    $else:
        $if (s[0] % 2) == 0:
            <li id="song$(s[0])" class="odd" onDblClick="playSong($(s[0]));">
	$else:
            <li id="song$(s[0])" class="even" onDblClick="playSong($(s[0]));">
    <img src="/static/song_up.png" onClick="move($(s[0]),-1)"> </img>
    <img src="/static/song_down.png" onClick="move($(s[0]),1)"> </img>
    <img src="/static/play.png" onClick="playSong($(s[0]));"> </img>
    $if s[1].title != "" and s[1].artist != "":
        $(s[1].title), by $(s[1].artist)
    $else:
        $(s[1].pathEsc)
    <img src="/static/remove_from_queue.png" onClick="removeSong($(s[1].song_id),$(s[0]));"> </img>
    </li>
