#songlist {
}

#songlist li {
    padding: 3px 8px;
    border-left: 1px solid #D9D9D9;
}

#playlist li.even {
    background-color: rgb(235,235,235);
}

#playlist li.odd {
    background-color: rgb(235,235,255);
}


#playlist li.currentsong {
    background-color: rgb(100,100,255);
	}

#playlist li.lastmodifiedsong {
    background-color: rgb(200,200,255);
}

playingsong {
	        font-size: large;
}

volume {
}
