$def with (playlist, nowplaying)

$for s in playlist:
    $if (s[0] + 1) == nowplaying:
        <li id="song$(s[0])" class="currentsong" onDblClick="playSong($(s[0]));">
    $else:
        $if (s[0] % 2) == 0:
            <li id="song$(s[0])" class="odd" onDblClick="playSong($(s[0]));">
	$else:
            <li id="song$(s[0])" class="even" onDblClick="playSong($(s[0]));">
    <input type="button" value="&darr;" onClick="move($(s[0]),1)"> </input>
    <input type="button" value="&uarr;" onClick="move($(s[0]),-1)"> </input>
    $(s[1].title), by $(s[1].artist). $(s[1].song_id), $(s[1].pos)
    <input type="button" value="Remove" onClick="removeSong($(s[1].song_id),$(s[0]));"> </input>
    </li>
