$def with (word)

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="static/style.css" />
    <title>D.J. Pirate (View Directory)</title>
    <script src="/static/main.js" type="text/javascript">
    </script>
  </head>
  <body>

    <img src="/static/pirate_cat.png"> </img>
    <h2> ARR, MATEY! I'M IN UR COMPUTER STEALIN UR MUSIC! </h2>
    <p> I already stole $word. Go listen to something else before I steal it too!</p>

    <h2> Try Again? </h2>

    <p>
      <form method="post" action="/search" target="search">
	<input type="text" name="word" />
	<input type="submit" value="search"/>
      </form>
    </p>

    <a href="/viewdir/" target="search">Browse Songs</a>



  </body>
</html>
