$def with (songs, dirs, parentdir)

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="static/style.css" />
    <title>D.J. Pirate (View Directory)</title>
    <script src="/static/main.js" type="text/javascript">
    </script>
  </head>
  <body onLoad="updatePlaylist(parent.nowplaying.document, document, true);">

    $if parentdir == "":
        <p><a href="/viewdir/"> / (Root Directory == Parent Directory, Home) </a></p>
    $else:
        <p><a href="/viewdir/"> / (Root Directory, Home) </a>, <a href="/viewdir/$:(parentdir)"> .. (Parent Directory) </a></p>

    $if songs != []:
        <h2> Songs </h2>
        <ul id="songlist">
        $for s in songs:
            <li>
	    <input type="button" value="Add" onClick="addToPlaylist('$:(s.pathEscJS)');"> </input>
            $if s.title != "" and s.artist != "":
                $(s.title), by $(s.artist)
	    $else:
	        $(s.pathEsc)
            </li>
	</ul>

    <h2> Directories </h2>
    $if parentdir == "":
        <p><a href="/viewdir/"> / (Root Directory == Parent Directory, Home) </a></p>
    $else:
        <p><a href="/viewdir/"> / (Root Directory, Home) </a>, <a href="/viewdir/$:(parentdir)"> .. (Parent Directory) </a></p>

    <ul id="dirlist">
      $for d in dirs:
          <li>
	    <input type="button" value="Add" onClick="addToPlaylist('$:(d.pathEsc)');"> </input>
	    <a href="/viewdir/$:(d.path)"> $(d.path) </a>
	  </li>
    </ul>


  </body>
</html>
